{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="active-listings">Active Listings</h2>
    

    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="{{ listing.imageUrl }}" alt="{{ listing.title }}" style="height: 18rem; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-auto">{{ listing.title }}</h5>
                    <p class="card-text mb-auto">{{ listing.description }}</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-secondary mt-auto">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
    

{% endblock %}
